<div class="row mt-5 mb-5">
  <div class="col-12 text-center">
      <h2>Modifier le mot de passe</h2>
  </div>
</div>

<div class="row">
  <form class="col-8 offset-2" [formGroup]="updatePassword" (ngSubmit)="onSubmitFormUpdatePassword()">
      <div class="row d-flex flex-column">
          <div class="input-field d-flex flex-row mb">
              <div class="input-field col-6">
                <label for="password">Changer de mot de passe</label>
                <input required type="text" class="validate" id="password" formControlName="password">
                <!-- <div class="messageError">
                    <sup>*</sup>Champ obligatoire
                </div> -->
              </div>
              <div class="col-6">
                <button class="m-auto" id="btn" type="submit" [disabled]="updatePassword.invalid">Valider</button>
              </div>
          </div>
      </div>
  </form>
</div>
