<div class="row mt-5 mb-5">
  <div class="col-12 text-center">
      <h2>Modifier son profil</h2>
  </div>
</div>

<div class="row">
  <form class="col-8 offset-2" [formGroup]="updateProfil" (ngSubmit)="onSubmitFormUpdateProfil()">
    <div class="row d-flex flex-row">
      <div class="col-6 colInfoLeft">
        <h3 class="text-center mb-3">Information du garage</h3>
        <div class="row">
          <div class="input-field d-flex flex-row mb">
            <div class="input-field col-12">
              <label for="mailPartner">Adresse mail</label>
              <input required type="text" class="validate" id="mailPartner" formControlName="mailPartner">
              <!-- <div class="messageError">
                  <sup>*</sup>Champ obligatoire
              </div> -->
            </div>
          </div>
          <div class="input-field d-flex flex-row mb">
            <div class="input-field col-12">
              <label for="phonePartner">Téléphone</label>
              <input required type="text" class="validate" id="phonePartner" formControlName="phonePartner">
              <!-- <div class="messageError">
                  <sup>*</sup>Champ obligatoire
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <h3 class="text-center mb-3">Information de facturation</h3>
        <div class="row">
          <div class="input-field d-flex flex-row mb">
            <div class="input-field col-12">
              <label for="nameBilling">Nom de factuartion</label>
              <input required type="text" class="validate" id="nameBilling" formControlName="nameBilling">
              <!-- <div class="messageError">
                  <sup>*</sup>Champ obligatoire
              </div> -->
            </div>
          </div>
          <div class="input-field d-flex flex-row mb">
            <div class="input-field col-12">
              <label for="addressBilling">Adresse de facturation</label>
              <input required type="text" #addresstext class="validate" id="addressBilling" formControlName="addressBilling">
              <!-- <div class="messageError">
                  <sup>*</sup>Champ obligatoire
              </div> -->
            </div>
          </div>
        </div>
      </div>
   </div>
   <div class="mt-5 mb-5 text-center">
    <button class="m-auto" id="btn" type="submit" [disabled]="updateProfil.invalid">Valider</button>
  </div>
  </form>
</div>
